<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-title>
      Tiempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cinderace tu amigo</ion-card-title>
      <ion-card-subtitle>Conoce tú tiempo: </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="fondo" id="background">
        <div class="personaje">
          <img src="assets/img/cinderace.gif" alt="Character">
        </div>
      </div>
      <div class="suelo"></div>
    </ion-card-content>
  </ion-card>
</ion-content>